
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <table border="1" align="center" width="15%">
        <caption>Product Details</caption>
        <tr><td>Id:</td><td>@ViewBag.Id</td></tr>
        <tr><td>Name:</td><td>@ViewBag.Name</td></tr>
        <tr>
            <td>Price:</td>
            <td>
                @{
                    double Price = ViewBag.Price;
                    Price = Price + (Price * 10 / 100); @Price }
            </td>
        </tr>
    </table>
</body>
</html>
