<div style="color:darksalmon;text-align:center;height:150px;background-color:azure;border-style:dotted;
border-color:slateblue;border-width:thick; box-shadow: 0px 0px 50px inset">
    <img id="img" alt="Image" src="~/Image/top-5-benefits-of-using-aspnet-core.jpg" width="96%" height="80%" />
    <marquee style="font-size:x-large;color:crimson;" behavior="alternate">
        C#,ADO.NET,ASP.NETMVC,SQLSERVER,ANGULAR.
    </marquee>
</div>
