
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <h1 style="text-align:center;color:red;text-decoration:underline">IT Course</h1>
    <div style="background-color:cyan">
        <fieldset style="border: 5px solid coral">
            <legend>Contact Us:</legend>
            &nbsp;&nbsp;Phone: 1234567890<br />
            &nbsp;&nbsp;Whatsapp: 1234567890 <br />
            &nbsp;&nbsp;Email: abc@gmail.com <br />
            &nbsp;&nbsp;Website: www.itcourse.com <br />
           
        </fieldset>
    </div>
    <h4 style="text-align:center;color:red">Click here to go to <a href="/Home/Index">Home Page.</a></h4>
</body>
</html>
